<div class="col">
    <div class="card">
        <div class="card-header">
            {{weather[typeW]}}
        </div>
        <div class="card-body">
            <div class="card-title">
                <img src="assets/img/{{imgBg}}" alt="" height="40" width="48" />
            </div>
            <p class="card-text">
                T:{{weather.temperature}}<sup>o</sup>C
            </p>
            <small class="text-center">H:{{weather.humidity}}<sup>%</sup></small>
            <small class="text-center">P:{{weather.clouds}}<sup>%</sup></small>
        </div>
    </div>
</div>