<div class="col">
    <div class="forecast">
        <div class="forecast-header">
            <div class="day">{{weather[typeW]}}</div>
        </div> <!-- .forecast-header -->
        <div class="forecast-content">
            <div class="forecast-icon">
                <img src="assets/img/{{imgBg}}" alt="" width="48">
            </div>
            <div class="degree">T:{{weather.temperature}}<sup>o</sup>C</div>
            <small>H:{{weather.humidity}}<sup>%</sup></small>
            <small>P:{{weather.clouds}}<sup>%</sup></small>
        </div>
    </div>
</div>