<div class="container">
    <div class="card text-center">
        <div class="card-header">
            {{weather[typeW]}}
        </div>
        <div class="card-body">
            <div class="card-title">
                <img src="assets/img/{{imgBg}}" alt="" height="40" width="48" />
            </div>
            <p class="card-text">
                <span style="display: block;">T: {{weather.temperature}}<sup>o</sup>C</span>
                <span style="display: block;"><small>H: {{weather.humidity}}<sup>%</sup></small></span>
                <span style="display: block;"><small>P: {{weather.clouds}}<sup>%</sup></small></span>
            </p>
        </div>
    </div>
</div>