<!-- <div class="container-fluid rounded" appRandomColor>
    <div class="row">
        <div class="col-md-1">
            <div class="row">
                <img src="assets/img/{{imgBg}}" alt="" width="100%" />
            </div>
            <div class="row">
                <small>{{weather.temperature}}°C</small>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row ">
                <small *ngIf="!(!location.city || !location.country)">{{location.city}}, {{location.country}}</small>
            </div>
            <div class="row">
                <small>{{weather.description}}</small>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-outline-danger close container-full" style="width: 100%; height: 100%;">
                &times;
                
            </button>
        </div>
    </div>

</div> -->
<div class="media" appRandomColor>
    <img src="assets/img/{{imgBg}}" class="sm-3"  alt="err">
    <div class="media-body">
        <div>
            <small class="mt-0" *ngIf="!(!location.city || !location.country)">{{location.city}},
                {{location.country}}</small>
        </div>
        <small>T: {{weather.temperature}}°C {{weather.description}}</small>
    </div>
</div>