<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="./../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            {{name}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> contact</a>
                </li>
            </ul>
            <span class="form-inline my-2 my-lg-0">
                <img src="assets/img/user.png" />
                <small>{{user.name}}</small>
            </span>
        </div>
    </nav>
</div>