<style>
    .container {
        width: auto;
        padding: 0 15px;
    }

    .footer {
        background-color: #282C2F;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<footer class="footer mt-auto py-3" >
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="col-md-2"></div>
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a style="color: aliceblue; text-decoration: none;"
                                href="https://polytechnique.cm/en/accueil-2/">
                                <i class="fa fa-map-marker mr-1"></i> {{location}}
                            </a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a style="color: aliceblue; text-decoration: none;" href="#"><i
                                    class="fa fa-phone mr-1"></i>
                                {{phone}}</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a style="text-decoration: none;" href="mailto:etudiant@gmail.com"><i
                                    class="fa fa-envelope mr-1"></i> {{mail}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div style="color: aliceblue;" class="col-md-4">
                <h5 class="mb-4 font-weight-bold text-uppercase">A propos de nous</h5>
                <div> {{about}}</div>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://github.com/KameniAlexNea/Controle-Meteo" target="_blank"><i
                                class="fa fa-github mr-1"></i></a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://www.linkedin.com/in/elie-alex-kameni-ngangue-306998176/" target="_blank"><i
                                class="fa fa-linkedin mr-1"></i></a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://mobile.twitter.com/kamenialexnea" target="_blank"><i
                                class="fa fa-twitter mr-1"></i></a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://www.facebook.com/alexnea.kameni" target="_blank"><i
                                class="fa fa-facebook mr-1"></i>
                            <i class="fa fa-search mr-1"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>