<div class="row" style="margin-top: 50px;">
    <div class="col-lg-2"></div>
    <div class=" col-lg-8 container-full justify-content-center v-center">
        <div class="jumbotron">
            <div class="row">
                <div class=" text-center col-lg-12">
                    <h2>Register To Controle Meteo</h2>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <!-- <div class="row form-group">
                                    <div class="col-lg-2">
                                        <label for="picture">Profil</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="file" ng2FileSelect [uploader]="uploader" class="form-control"
                                            id="picture" accept="image/*" formControlName="picture">
                                    </div>
                                </div> -->
                                <div class="row form-group">
                                    <div class="col-lg-2">
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="name" formControlName="name">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-2">
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="password"
                                            formControlName="password">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-2">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" id="email" formControlName="email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row form-group">
                                    <div class="col-lg-2">
                                        <label for="surname">Surname</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="surname" formControlName="surname">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-2">
                                        <label for="birthday">Birthday</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="date" class="form-control " id="birthday"
                                            formControlName="birthday">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-2">
                                        <label for="sexe">Sexe
                                        </label>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="form-check col">
                                                    <input id="male" type="radio" class="form-check-input" value="male"
                                                        name="sexe" formControlName="sexe" checked mdbInput>
                                                    <label class="form-check-label" for="male"> Male</label>
                                                </div>

                                                <div class="form-check col">
                                                    <input id="female" type="radio" class="form-check-input"
                                                        value="female" name="sexe" formControlName="sexe" mdbInput>
                                                    <label class="form-check-label" for="female"> Female</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">
                            Creer mon compte
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>