<div class="container">
    <div class="col-sn-8 col-sn-offset-2">
        <h2>creer un compte</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group" >
                <label for="picture">profil</label>
                <input type="file" class="form-control" id="picture" accept="image/*" formControlName="picture">
            </div>
            <div class="form-group">
                <label for="password">mot de passe</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div> 
            <div class="form-group">
                <label for="surname">prenom</label>
                <input type="text" class="form-control" id="surname" formControlName="surname">
            </div>
            <div class="form-group">
                <label for="sex">Sex</label>
                <div>
                    <input id="male" type="radio" class="form-control" value="male" name="sex" formControlName="sex">
                    <label class="custom-control-label" for="male">Male</label>
                 </div>
              
                 <div>
                    <input id="female" type="radio" class="form-control" value="female" name="sex" formControlName="sex">
                    <label class="custom-control-label" for="female">Female</label>
                 </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="birthday">Date de naissance</label>
                <input type="date" class="form-control" id="birthday" formControlName="birthday">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Creer mon compte</button>
        </form>
    </div>
</div>